 <footer class="footer">
    <div>
        <a href="tel:+78003333030">8 (800) 333-30-30</a>
    </div>
        <ul class="footer__nav">
            <li><a href="http://xxxxxx-m1.wsr.ru">Home</a></li>
            <li><a href="http://xxxxxx-m1.wsr.ru/login">Login</a></li>
            <li><a href="http://xxxxxx-m1.wsr.ru/signup">Sign up</a></li>
            <li><a href="http://xxxxxx-m1.wsr.ru/contact">Contact</a></li>
            <li><a href="http://xxxxxx-m1.wsr.ru/news">News</a></li>
            <li><a href="http://xxxxxx-m1.wsr.ru/return">Return</a></li>
            <li><a href="http://xxxxxx-m1.wsr.ru/feedback">Feedback</a></li>
        </ul>
</footer>