{% extends "main.njk" %}

{% set pageTitle = 'Выбор зон' %}

{% block content %}
    <section>
        <h2>Алтайский край</h2>
        <h2>Туристическая база "Озеро Красилово", Косихинский район, с. Озеро-Красилово, ул. Пушкина д.1</h2>
        <div class="scheme">
            <div class="zone zone1">
                <img class="zone__image" src="images/18.jpg" alt="Tent">
                <div>Шатер - 2 шт.</div>
                <div>Вместимость - до 5 чел</div>
                <div>500 р/час</div>
                <div class="button zone__button"><a href="booking.html">Забронировать</a></div>
            </div>
            <div class="zone zone2">
                <img class="zone__image" src="images/3.jpg" alt="House">
                <div>Летний домик- 5 шт</div>
                <div>Вместимость - до 10 чел</div>
                <div>300 р/час</div>
                <div class="button zone__button"><a href="booking.html">Забронировать</a></div>
            </div>
            <div class="zone zone3">
                <img class="zone__image" src="images/12.jpeg" alt="Pavilion">
                <div>Беседка - 10 шт</div>
                <div>Вместимость - до 5 чел</div>
                <div>200 р/час</div>
                <div class="button zone__button"><a href="booking.html">Забронировать</a></div>
            </div>
            <div class="zone zone4">
                <img class="zone__image" src="images/19.jpg" alt="Studio">
                <div>Профессиональная фотостудия - 1 шт</div>
                <div>Вместимость - до 10 чел</div>
                <div>300 р/час</div>
                <div class="button zone__button"><a href="booking.html">Забронировать</a></div>
            </div>
            <div class="zone zone5">
                <img class="zone__image" src="images/Pier.jpg" alt="Pier">
                <div>Пирс у озера - 1 шт</div>
                <div>Вместимость - до 15 чел</div>
                <div>200 р/час</div>
                <div class="button zone__button"><a href="booking.html">Забронировать</a></div>
            </div>
        </div>
    </section>
{% endblock %}